@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(126, 126, 126);
}

*::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54);
  border-radius: 10px;
}

*::-webkit-scrollbar-corner {
  background-color: rgb(126, 126, 126);
}

body {
  font-family: 'Bodoni Moda', serif;
}


.sab-skills{
  text-shadow:2px 2px 1px #000;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  &:hover {
    text-shadow:2px 2px 1px #bf00d0, 2px 2px 5px #f18dfa, -2px -2px 1px #00ccff, -2px -2px 5px #00ccff;
  }
}
.sab-skills:nth-child(1){
  animation-name: slide1;
}
.sab-skills:nth-child(2){
  animation-name: slide2;
  animation-delay: 0.5s;
}

.sab-skills:nth-child(3){
  animation-name: slide3;
  animation-delay: 1s;
}

@keyframes slide1 {
  from { margin-left: -24px ; opacity: 0;}
  to { margin-left: 0; opacity: 1;}
}
@keyframes slide2 {
  from { margin-left: 0 ; opacity: 0;}
  to { margin-left: 48px; opacity: 1;}
}
@keyframes slide3 {
  from { margin-left: 0 ; opacity: 0;}
  to { margin-left: 96px; opacity: 1;}
}
